{{with .Dot}}
{{$state := .Room.State}}
{{if eq $state "lobby"}}
  {{template "room_game_lobby.html" $}}
{{else}}
  {{template "room_game_black_card.html" $}}
  {{if eq $state "playing"}}
    {{template "room_game_playing.html" $}}
  {{else if eq $state "judging"}}
    {{template "room_game_judging.html" $}}
  {{else if eq $state "results"}}
    {{template "room_game_review.html" $}}
  {{else}}
  <div class="text-center py-5">
    <h5>{{.WaitingTitle}}</h5>
    {{with .WaitingDetail}}<p class="text-muted">{{.}}</p>{{end}}
  </div>
  {{end}}
{{end}}
{{end}}
